.sky-brand-header {
    position: sticky;
    top: 0;
    right: 0;
    margin-left: auto;
    display: flex;
    background: linear-gradient(to bottom, #000000ee, rgba(0, 0, 0, 0));
    z-index: 99;
}