.sky-button {
    display: flex;
    align-items: center;
    gap: var(--sp-s);
    width: fit-content;
    background: var(--secondary);
    padding: var(--spr-xxs)  var(--sp-s);
    font-weight: 500;
    color: var(--on-primary);
    text-decoration: none;
    box-shadow: 0px 4px 0px 0px var(--on-primary);
}

.sky-button:hover {
    color: var(--on-primary-variant);
background:yellow;
}

.sky-button:hover svg {
    color: var(--on-primary);
}

.sky-button svg {
    width: var(--spr-l);
    height: var(--spr-l);
}