.site-navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  z-index: 20;
  background: linear-gradient(to bottom, black, transparent);
}

.site-navbar .navbar-button {
  display: flex;
  gap: var(--sp-m);
  font-weight: 500;
  font-size: 1.05rem;
  cursor: pointer;
  list-style: none;
  text-shadow: 0 0 2px rgba(0, 0, 0);
  padding: var(--sp-xs) var(--sp-m);
}

.site-navbar .navbar-button:hover {
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0.5),
    hsla(0, 0%, 100%, 0.25)
  );
}

.navbar-menu[open] .navbar-button {
  background: rgba(255, 255, 255, 0.15);
}

.navbar-menu[open] .menu-content {
  position: absolute;
  left: 0;
  right: 0;
  padding: var(--sp-xs);
  margin: var(--sp-m);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3));
  border-radius: 4px;
  backdrop-filter: blur(4px);
  z-index: 20;
}

.navbar-menu[open] .navbar-button::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: auto;
  overflow-y: auto;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  padding-block-start: var(--sp-xs);
}

.menu-nav__link {
  display: flex;
  align-items: center;
  padding: var(--sp-xxs);
  gap: var(--sp-xs);
}

.menu-nav__link:hover {
  background: white;
  color: black;
}
