.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0), rgb(27, 3, 51));
}

.sidebar {
  image-rendering: pixelated;
  background: url("/static/images/backgrounds/breath.png"),
    linear-gradient(to bottom, hsla(0, 0%, 20%), hsla(264, 11%, 9%));
  background-repeat: repeat-y;
  box-shadow: inset 0px 0px 16px 0px rgba(255, 255, 255, 0.25);
  padding: var(--sp-xs);
}

.nav-buttons {
  display: grid;
  gap: var(--sp-xs);
}

.sidebar__title {
  color: rgb(191, 191, 191);
  text-shadow: 0px 0px 4px black;
  font-family: var(--brand-font-family);
  font-size: 1.9rem;
  letter-spacing: -1.5px;
  font-weight: bolder;
  writing-mode: vertical-rl;
  padding-inline: var(--sp-xs);
  rotate: -180deg;
}

.sidebar .link-btn {
  display: block;
  width: 38px;
  height: 38px;
  image-rendering: initial;
}
