.has-icon {
    display: flex;
    align-items: center;
    gap: var(--sp-xs);
}

.sky-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spr-s);
}

.context {
    display: none;
}

a:hover > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    padding: var(--sp-xxs) var(--sp-m);
    backdrop-filter: blur(8px);
    background: linear-gradient(to bottom, rgba(106, 106, 106, 0.6), rgba(23, 23, 23, 0.6));
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    text-shadow: 0px 0px 2px black;
    color: white;
}


.tippy-box[data-theme~='gt5'] {
    border-top: 1px solid gray;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), black);
    color: inherit;
    font-family: inherit;
  }

  .tippy-box[data-theme~='gt5'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #315788;
  }