<aside class="site-aside site-aside-left">
  <h3>Me</h3>
  <img src="/static/images/xenia/rinidisc_laptop.png" alt="Xenia using a laptop. by RiniDisc" title="Xenia using a laptop. by RiniDisc">
  <p>🗣️ he/him</p>
  <p>🗺️ Portugal</p>
  <iframe
    src="//incr.easrng.net/badge?key=reduxflakes"
    style="background: url(//incr.easrng.net/bg.gif)"
    title="increment badge"
    width="88"
    height="31"
  ></iframe>
  <h3>Sites I 💖</h3>
  moved to <a href="/links">Links</a>
</aside>