<footer class="site-footer status-bar pod">
    <span class="status-bar_item">&copy; 2024 ReduxFlakes</span>
    <span class="status-bar_item">v{{ pkg.version }}</span>
    <span class="status-bar_item">Background image by <a href="https://www.flickr.com/photos/santafeegret/3279695354">Dorothy Finley</a> on Flickr </span>
</footer>