<footer class="site-footer status-bar pod">
&copy; 2024 ReduxFlakes - v{{ pkg.version }} - <a href="/privacy">Privacy Statement</a>
    {# <a href="/accessibility">Accessibility Statement</a> #}
</footer>