<footer class="site-footer">
  <div class="site-footer-webrings">
    <div id="neossg">
      <script
      src="https://neossg.neocities.org/onionring-variables.js" async
    ></script>
      <script
      src="https://neossg.neocities.org/onionring-widget.js" async
    ></script>
    </div>
    <div class="webring">
      <a href="https://hotlinewebring.club/reduxflakes/previous">Prev</a>
      <a href="https://hotlinewebring.club/">Hotline</a>
      <a href="https://hotlinewebring.club/reduxflakes/next">Next</a>
    </div>
    <div class="webring">
      <a href="https://loop.graycot.dev/webring.html?action=prev"> &#8592;</a>
      <a href="https://loop.graycot.dev/webring.html?action=home">Loop Ring</a>
      <a href="https://loop.graycot.dev/webring.html?action=next"> &#8594; </a>
    </div>
    <div style="display: flex">
      <script src="https://nuthead.neocities.org/ring/ring.js" async></script>
    </div>
    <div class="webring">
      <a href="https://webring.dinhe.net/prev/reduxflakes.neocities.org">
      &#8592;
    </a>
      <a href="https://webring.dinhe.net">Retronaut</a>
      <a href="https://webring.dinhe.net/next/reduxflakes.neocities.org">
      &#8594;
    </a>
    </div>
  </div>
  <div class="site-footer-widgets">
    <iframe
      src="//incr.easrng.net/badge?key=reduxflakes"
      style="background: url(//incr.easrng.net/bg.gif)"
      title="increment badge"
      width="88"
      height="31"
    ></iframe>
    <a
      href="https://html5.validator.nu/?doc=https%3A%2F%2Freduxflakes.neocities.org%2F"
    >
      <img
        style="border: 0; width: 88px; height: 31px"
        src="/static/buttons/html5-validator-badge.svg"
        alt="HTML5 Valid"
        loading="lazy"
/>
    </a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
      <img
        style="border: 0; width: 88px; height: 31px"
        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
        alt="Valid CSS!"
        loading="lazy"
/>
    </a>
    <div id="wcb" class="carbonbadge"></div>
    <script
      src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js"
      async
    ></script>
  </div>
  <p class="site-footer-copy">&copy; 2021 until 2024 ReduxFlakes - <a href="/privacy">🔒 Privacy Statement</a>
  </p>
</footer>