{% css "critical" %}
{% include "./styles/critical/header.css" %}
{% endcss %}

<header class="site-header">
    <a class="header__title" href="/">{{site.title}}
        <small>
            (<code>version {{pkg.version}}</code>)
        </small>
    </a>
    <nav class="quick-links">
        {% for item in nav.quicklinks %}
            <a href="{{item.url}}" title="{{item.title}}"><img src="/static/icons/{{item.icon}}.png" alt="{{item.title}} icon"></a>
        {% endfor %}
        <a class="navigation__link" href="#navigation">More...</a>
    </nav>
</header>