<header class="site-header">
    {% if page.url == "/" %}
        <h1 class="site-header__title">{{site.title}}</h1>
    {% else %}
        <span class="site-header__title">
            <a href="/">{{site.title}}</a>
        </span>
    {% endif %}
</header>