<div class="home--hero">
  <div id="introduction">
Hi! Welcome to my new redesigned website! My name is ReduxFlakes or known as reducc by close friends. I'm a computer science student focused on FOSS and privacy.
    </div>
  <section id="update--box">
    <h3>Last update <small>
        <sup>dd/mm/yyyy</sup>
      </small>
    </h3>
    {% for updatesList in updates.updatesList %}
      {% if loop.index0 < 1 %}
        <p>
          <em>{{ updatesList.date }}</em> - {{ updatesList.content }}</p>
      {% endif %}
    {% endfor %}
  </section>
</div>