<aside class="site-header-aside pod">
    <section class="site-sidebar-section">
        <h3 class="site-sidebar-section__title">Warning</h3>
        <p>I'm really lazy and I procrastinate a lot and so this website isn't really finished and polished. I have a lot planned for it though in terms of content, but please be patient, I also have other external projects on the workings so that may also take my free time. Thank you!</p>
    </section>
</aside>