<aside class="sidebar">
    <span class="sidebar__title">{{title}}</span>
    <nav class="nav-buttons">
        <a href="https://surfscape.neocities.org" class="link-btn" id="sidebarButton" data-tippy-content="SurfScape" data-tippy-animation="0" data-tippy-placement="right"><img src="/static/icons/owned/surfscape-ff-gt5-btn.png" alt="SurfScape Frutiger Aero stylied button"></a>
        <a href="https://youtube.com/@reduxflakes" class="link-btn" id="sidebarButton" data-tippy-content="YouTube" data-tippy-animation="0" data-tippy-placement="right"><img src="/static/icons/owned/youtube-ff-gt5-btn.png" alt="YouTube olg logo styled as the buttons found in gran turismo 5"></a>
    </nav>
</aside>