<aside class="stripe-sidebar">
<span class="stripe-sidebar__title">{{title}}</span>
<nav class="external-connections">
<a href="https://surfscape.neocities.org" class="link-btn" id="sidebarButton" data-tippy-content="SurfScape" data-tippy-animation="0" data-tippy-placement="right"><img src="/static/icons/owned/surfscape-ff-gt5-btn.png" alt="SurfScape Frutiger Aero stylied button"></a>
</nav>
</aside>