---
layout: text.njk
permalink: "/humans.txt"
---
# Webmaster #

ReduxFlakes
Website: https://reduxflakes.neocities.org
Social (Mastodon): @redux@fosstodon.org
Contact: reduxflakes [at] disroot [dot] org
From: Portugal (and the web)


# Site #
Standards: HTML5, CSS3
Software: 11ty.dev
