*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul[class],
ol[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

iframe {
  border: 0;
}

input,
button {
  font: inherit;
}
button {
  cursor: pointer;
  background: none;
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font: var(--base-font-size) / 1.5 var(--base-font-family);
  padding: var(--space-m);
  max-width: var(--size-breakpoint);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h5,
h6 {
  font-weight: normal;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

a {
  color: var(--primary);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.flow > * + * {
  --_flow-space: var(--flow-space, 1em);
  margin-top: var(--_flow-space);
}
.topnav,
.navbar-list {
  display: flex;
  gap: var(--space-s);
  flex-wrap: wrap;
}

nav h2#navigation:target {
  outline-offset: 1px;
  outline: 2px solid var(--primary);
}

summary {
  cursor: pointer;
}
