@font-face {
  font-family: "Geist";
  src: url("/static/fonts/geist.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* spacing units */
  --size-breakpoint: 48rem;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.25rem;
  --space-xl: 1.5rem;
  --space-xxl: 1.75rem;
  /* typography */
  --font-family: "Geist";
  --base-font-size: 1.1rem;
  /* color scheme */
  --background: hsl(312, 56%, 5%);
  --on-background: hsl(0, 0%, 80%);
  --on-background-strong: hsl(0, 0%, 95%);
  --primary: hsl(310, 100%, 74%);
}
