:root {
  /* spacing units */
  --size-breakpoint: 43rem;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.25rem;
  --space-xl: 1.5rem;
  --space-xxl: 1.75rem;
  /* typography */
  --base-font-family: system-ui, "Segoe UI", "Roboto", "Ubuntu", "Cantarell",
    "Noto Sans", "San Francisco", sans-serif;
  --heading-font-family: "Bitstream Charter", "Sitka Text", Cambria,
    Times New Roman, serif;
  --base-font-size: 1.1rem;
  /* color scheme */
  --background: #fffae9;
  --on-background: hsl(37, 55%, 21%);
  --primary: hsl(313, 82%, 37%);
  --danger: hsl(352, 72%, 42%);
  --info: rgb(19, 49, 184);
  --warning: #d59010;
  --success: rgb(12, 164, 12);
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292310;
    --on-background: hsl(37, 100%, 87%);
    --primary: hsl(318, 100%, 74%);
    --danger: hsl(352, 100%, 73%);
    --info: rgb(83, 111, 235);
    --warning: #fec358;
    --success: rgb(111, 236, 111);
  }
}
