.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 16rem), 1fr)
  );
  gap: var(--gap-space, var(--space-m));
}

.display {
  font-size: 2.25rem;
}

.hero {
  background-image: url("/static/images/rf_cross_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.btn,
.btn-fancy,
.btn-icon {
  display: block;
  width: fit-content;
  padding: 0.25em 1em;
  text-decoration: none;
  color: var(--on-background-strong);
  transition: 150ms ease-in-out all;
}

.btn {
  background: hsl(310, 20%, 14%);
  border-radius: 0.4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.btn:hover {
  background: hsl(310, 20%, 17%);
}

.btn-icon {
  line-height: 1;
  padding: 0.5em;
  border-radius: 2rem;
  background: hsl(310, 20%, 14%);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  transition: all 150ms ease-in-out;
}

.btn-icon img {
  width: 1.25em;
  height: 1.25em;
  filter: saturate(0.6);
}

.btn-icon:hover {
  background: hsl(310, 20%, 17%);
}

.btn-icon:hover img {
  filter: saturate(1);
}

.btn-fancy {
  border-radius: 2rem;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.75),
    0px 0px 8px 2px rgba(188, 143, 186, 0.4);
  background: linear-gradient(to bottom, #ff5df4, #bc5dff, #5d78ff);
  transition-duration: 130ms;
}

.btn-fancy:hover {
  scale: 1.015;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 4px 6px 0px rgba(255, 255, 255, 1),
    0px 0px 8px 2px rgba(188, 143, 186, 0.75);
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.stack-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.15em;
}

.stack-item img {
  width: 2.5rem;
  height: 2.5rem;
}

.stack-item small {
  opacity: 0.75;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background: hsl(310, 20%, 10%);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.5rem;
  padding: 1rem;
}

.card-stack-list li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.85rem;
  background: hsl(0, 0%, 100%);
  color: rgba(0, 0, 0, 0.75);
  width: fit-content;
  padding: 0.1rem 0.25rem;
  border-radius: 4px;
}
