<!DOCTYPE html>
<html lang="{{site.lang}}">
  {% include "head.njk" %}
  <body class="flow">
    {% include "partials/topnav.njk" %}
    <main id="main-content" class="flow">
      {% block base %}
        {{ content | safe }}
      {% endblock %}
    </main>
    {% include "partials/nav.njk" %}
    {% include "partials/footer.njk" %}
    <script
      data-goatcounter="https://reduxflakes.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </body>
</html>