<!DOCTYPE html>
<html lang="{{site.lang}}">
  {% include "head.njk" %}
  <body {% if site_modifier %}class="{{site_modifier}}"{% endif %}>
    {% block layout %}
      {{ content | safe }}
    {% endblock %}
    <script
      data-goatcounter="https://reduxflakes.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </body>
</html>