{% extends "./base.njk" %}

{% block base %}
    <main id="main-content" class="flow">
        <header class="page-meta">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
        </header>
        <article class="flow">
            {{ content | safe }}
        </article>
    </main>
{% endblock %}