{% extends "./base.njk" %}

{% set site_modifier = "site-container" %}

{% block layout %}
   <div class="site">
      {% include "sidebar.njk" %}
      <div class="page">
         {% include "header.njk" %}
         <main class="container {%- if content_modifier -%}{{content_classes}}{%- endif -%}">
            {{ content | safe }}
         </main>
         {% include "footer.njk" %}
      </div>
   </div>
{% endblock %}