{% extends "./base.njk" %}

{% set is_post = true %}
{% css "post" %}{% endcss %}

{% block base %}
    <header class="flow" style="--flow-space:0.5em">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <p>
            <i>
                <time datetime="{{date}}">{{date | formatPostDate}}</time>
            </i>
        </p>
    </header>
    <article class="flow">
        {{ content | safe }}
    </article>
{% endblock %}