{% extends "./base.njk" %}

{% set site_modifier = "site-container" %}

{% block layout %}
    <a href="/">Go back to the portal...</a>
    <main class="page-container {% if content_modifier %}{{ content_modifier }}{% endif %}">
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}
{% endblock %}