<!DOCTYPE html>
<html lang="en">
  {% set is_system_page = true %}
  {% css "system_page" %}{% include "styles/modules/system-module.css" %}{% endcss %}
  {% include "head.njk" %}
  <body>
    <main class="site-container content">
      {% block layout %}
        {{ content | safe }}
      {% endblock %}
    </main>
  </body>
</html>