/* color scheme */
:root {
    --background: #0b0b0b;
    --on-background: #dfdfdf;
    --on-background-variant: #f7f7f7;
    --primary: #FF70A0;
    --on-primary: hsl(340, 80%, 25%);
    --on-primary-variant: hsl(340, 80%, 12%);
    --secondary: #FFABD1;
    color-scheme: dark;
}