/* color scheme */
:root {
  --background: linear-gradient(to bottom, #000000, #1a182a);
  --on-background: #dfdfdf;
  --on-background-variant: #f7f7f7;
  --primary: #ff70a0;
  --on-primary: hsl(340, 80%, 25%);
  --on-primary-variant: hsl(340, 80%, 12%);
  --secondary: #ffabd1;
  color-scheme: dark;
}
