.funky-container {
  max-width: var(--sp-breakpoint);
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: 72px 175px 1fr;
  background-image: url("/static/images/backgrounds/test.jpg");
}

/* from Kevin Powell 
https://youtu.be/c13gpBrnGEw
*/
.container {
/* to be changed*/
    --container-max-width: 1fr;
    --breakout-max-width: 980px;
    --breakout-size: calc(
      (var(--breakout-max-width) - var(--container-max-width)) / 2
    );  
    display: grid;
    grid-template-columns:
      [full-width-start] 1fr [breakout-start] minmax(0, var(--breakout-size)) [container-start] var(--container-max-width) [container-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      1fr [full-width-end];
      overflow-y: auto;
  }
  
  .container > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: container;
  }
  
  .container > .breakout {
    grid-column: breakout;
  }
  
  .container > .full-width {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
  }

  .content-container {
    position: relative;
    overflow-y: scroll;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
  }