.site {
  max-width: var(--sp-breakpoint);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 56px 1fr;
  background: transparent;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid hsla(0, 0%, 100%, 0.25);
}

.page {
  height: 100svh;
  overflow-y: scroll;
}

/* from Kevin Powell 
https://youtu.be/c13gpBrnGEw
*/
.container {
  /* to be changed*/
  --container-max-width: 1fr;
  --breakout-max-width: 980px;
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--container-max-width)) / 2
  );
  display: grid;
  grid-template-columns:
    [full-width-start] 1fr [breakout-start] minmax(0, var(--breakout-size))
    [container-start] var(--container-max-width) [container-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    1fr [full-width-end];
}

.container > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: container;
}

.container > .breakout {
  grid-column: breakout;
}

.container > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}
