@font-face {
  font-display: swap;
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/chakra-petch-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: "Chakra Petch";
  font-style: italic;
  font-weight: 400;
  src: url("/static/fonts/chakra-petch-v11-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/chakra-petch-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: "Chakra Petch";
  font-style: italic;
  font-weight: 700;
  src: url("/static/fonts/chakra-petch-v11-latin-700italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/static/fonts/inter-v13-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/inter-v13-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/static/fonts/inter-v13-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/static/fonts/inter-v13-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/inter-v13-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/static/fonts/inter-v13-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/static/fonts/inter-v13-latin-900.woff2") format("woff2");
}

:root {
  font-size: clamp(0.89rem, 0.9rem + 0.390625vw, 1rem);
  color: var(--on-background);
  --brand-font-family: "Chakra Petch";
  --content-font-family: "Inter", system-ui, sans-serif;
  --h1: bold 3.5rem/1em var(--brand-font-family);
  --h2: bold 2.75rem/1.2em var(--brand-font-family);
  --h3: bold 2rem/1.2em var(--brand-font-family);
  --h4: bold 1.3rem/1.6em var(--brand-font-family);
  --h5: bold 1.15rem/1.6em var(--brand-font-family);
  --h6: bold 1.05rem/1.6em var(--brand-font-family);
  --small: normal 0.78rem/1.5em var(--content-font-family);
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

h5 {
  font: var(--h5);
}

h6 {
  font: var(--h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--on-background-variant);
}

small {
  font: var(--small);
}

strong {
  font-family: var(--brand-font-family);
  font-weight: bold;
}

.subheading {
  font: var(--h3);
  font-weight: lighter;
}
