.site-footer {
  padding: var(--sp-xxs) var(--sp-s);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: rgb(21, 21, 21);
  color: rgb(237, 237, 237);
}

.site-footer-webrings {
  display: flex;
  gap: var(--sp-xxs);
  flex-wrap: wrap;
  justify-content: center;
}
