.page-container {
  padding: var(--sp-m);
  background: rgb(17, 17, 17);
}

.post-head {
  display: grid;
  gap: var(--sp-xs);
  margin-bottom: var(--sp-xxm);
}

.post-head p {
  font-size: 1.15rem;
}

article {
  font-size: 1.05rem;
  line-height: 1.5;
  color: rgb(240, 240, 240);
}
