*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}
nav * {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

canvas,
img,
picture,
svg {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

iframe {
  border: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
  background: none;
  border: none;
}
img:not([alt]) {
  filter: blur(10px);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-size: 16px;
  --background: hsl(142, 98%, 97%); /* background */
  --onBackground: hsl(139, 77%, 14%); /* text on the foreground */
  --onBackground-surface: hsl(134, 8%, 34%); /* same as before but more muted */
  --container: hsl(
    140,
    35%,
    90%
  ); /* cards, and other elemens that should be on top of the background */
  --stroke: hsl(139, 15%, 68%); /* borders and stuff like that */
  --primary: hsl(136, 100%, 25%); /* used on links and primary actions */
  --secondary: hsl(
    183,
    100%,
    25%
  ); /* mostly used on smaller heading and in less used actions */
  --font-main: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica", sans-serif;
  --font-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(140, 6%, 10%); /* background */
    --onBackground: hsl(139, 26%, 88%); /* text on the foreground */
    --onBackground-surface: hsl(
      140,
      6%,
      64%
    ); /* same as before but more muted */
    --container: hsl(
      140,
      6%,
      13%
    ); /* cards, and other elemens that should be on top of the background */
    --stroke: hsl(140, 10%, 25%); /* borders and stuff like that */
    --primary: hsl(136, 100%, 75%); /* used on links and primary actions */
    --secondary: hsl(
      183,
      100%,
      75%
    ); /* mostly used on smaller heading and in less used actions */
  }
}

body {
  font-family: var(--font-main);
  font-size: clamp(0.9rem, 0.9rem + 0.390625vw, 1.15rem);
  background: var(--background);
  color: var(--onBackground);
  max-width: 74ch;
  margin: 0 auto;
  letter-spacing: -0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
}

h4 {
  font-weight: normal;
}

h3,
h4 {
  padding-bottom: 0.15em;
  border-bottom: 0.075em solid var(--stroke);
  color: var(--secondary);
}

h5,
h6 {
  color: var(--onBackground-surface);
}

pre,
code {
  font-family: var(--font-mono);
}

a {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: var(--stroke);
  transition: all 150ms ease-in-out;
}

a:hover {
  text-decoration-color: var(--onBackground);
}

blockquote {
  background: var(--container);
  border-left: 0.25em solid var(--stroke);
  padding: 0.5em;
}

small {
  font-weight: normal;
}

hr {
  border-color: var(--stroke);
}

.site-header {
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  font-family: var(--font-heading);
}

.site-header__title {
  font-size: 2em;
  font-weight: bold;
}

.site-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.1em;
  margin-top: 1em;
  padding-bottom: 0.5em;
  border-bottom: 0.1em solid var(--stroke);
}

.site-navbar-link {
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 0.5em 0.6em;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.site-navbar .site-navbar-link:hover {
  scale: 1.025;
  text-decoration: 0.1em underline var(--primary);
}

.main-content {
  padding-block: 1em;
}

article > * + *,
section > * + * {
  margin-top: 0.75em;
}

article,
section {
  line-height: 1.5em;
}

.post-listing {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.post-listing__item {
  color: var(--font-body);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 0.25em;
  transition: all 150ms ease-in-out;
}

.post-listing__item:hover {
  outline: 0.15em solid var(--primary);
}

.site-footer {
  border-top: 0.1em solid var(--stroke);
  padding: 0.75em;
}

.banner {
  width: 100%;
  border-radius: 0.75em;
}

.page-header {
  margin-bottom: 1em;
}

.page-header > * + * {
  margin-top: 0.5em;
}

.cat-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.cat-list-item__link {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: var(--container);
  border-radius: 0.5em;
  padding: 0.5em;
  text-decoration: none;
  color: var(--onBackground);
  transition: 150ms all ease-in-out;
}

.cat-list-item__meta {
  display: flex;
  flex-direction: column;
}

.cat-list-item a:hover {
  outline: 0.15em dotted var(--primary);
}

.site-footer {
  display: grid;
  justify-items: center;
}

.display {
  font-weight: lighter;
}

.subtitle {
  font-size: 1.2em;
}

.subtle {
  color: var(--onBackground-surface);
}

@media (min-width: 32rem) {
  body {
    padding: 1rem;
  }
}

@media (max-width: 32rem) {
  .main-content {
    padding: 1em;
  }
}
