article-card {
  display: flex;
  gap: var(--sp-s);
}

article-card > img {
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* article-card .card-heading {
}*/

article-card .card-summary {
  max-width: 34ch;
}

.link-card {
  color: white;
  padding: var(--sp-xxs) var(--sp-xs);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration-color: white;
  box-shadow: 0px 0px 2px 0px black;
}

.link-card .description {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
