.has-icon {
  display: flex;
  align-items: center;
  gap: var(--sp-xs);
}

.sky-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spr-s);
}

.context {
  display: none;
}

a:hover > span.context,
a:focus > span.context {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: var(--tips);
  padding: 0 var(--sp-m);
  color: var(--surface);
  text-align: center;
}
