.site-footer {
  --flow-space: 0.5em;
  border-top: 1px solid var(--outline);
  border-bottom: 1px solid var(--outline);
  padding: var(--space-m);
}

.site-footer iframe {
  margin: 0 auto;
}

.site-footer-webrings {
  display: flex;
  gap: var(--space-xs);
  flex-wrap: wrap;
  justify-content: center;
}
