.site-header {
  --flow-space: var(--space-xs);
  text-align: center;
  border-bottom: 1px solid var(--outline);
}

.header__title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
}

.site-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-m);
}
