---
title: Home
layout: base.njk
main_class: home-grid
---

<article>
  <h2 id="about-me">About Me</h2>
  <p>
      Hey, welcome to my website, my name is ReduxFlakes, or reducc for close
      friends. I'm a developer, privacy, security, and open source advocate that
      loves <a href="/music">music</a> and retro tech.
    </p>
  <h2 id="in-construction">Website in construction</h2>
  <p>
      I've recently made this new website and so much of it's content is
      missing. Please wait unitl I get things tidy!
    </p>
  <h2 id="music">Favourite music <small>as of 02/03/2024</small>
  </h2>
  <p>
      Heiko Voss - Follow Your Line
      <a href="https://redirect.invidious.io/watch?v=PVzlYrRxA_c">External Link</a>
  </p>
  <div class="video-embed-wrapper">
    <iframe
      src="https://invidio.us/embed/PVzlYrRxA_c?"
      class="video-embed"
      title="Invidious YT video player"
      allow="autoplay;encrypted-media;web-share"
      allowfullscreen
    ></iframe>
  </div>
  <h2 id="updates">Updates</h2>
  <p>02-03-2024</p>
  <ul>
    <li>Fixed invidious player embed</li>
    <li>Fixed some pages</li>
    <li>Made new design and layout</li>
    <li>Improved the sidebars and responsive typography</li>
  </ul>
</article>