---
title: "- l i m i n a l -"
layout: base.njk
style_slot: true 
main_classes: two-grid
---

<section class="brand-section">
    <h1 class="display--1">reduxflakes</h1>
</section>
<section class="introduction-section content">
    <h2 class="subheading has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 22 22"><path fill="currentColor" d="M14 20H7v-1H6v-1H5v-1H4v-5h1v-2h1V9h1V8h1v1h1v2h1V9h1V5h-1V4H9V3H8V2h3v1h2v1h1v1h1v1h1v1h1v2h1v7h-1v2h-1v1h-2m-2-1v-1h2v-1h1v-2h1v-4h-1V8h-1V7h-1v4h-1v2h-1v1h-1v1H9v-1H8v-3H7v1H6v4h1v1h1v1Z"/></svg>Fireplace in the mall</h2>
    <p class="has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1.25em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M15.236 22a3 3 0 0 0-2.2-5"/><path d="M16 20a3 3 0 0 1 3-3h1a2 2 0 0 0 2-2v-2a4 4 0 0 0-4-4V4m0 9h.01"/><path d="M18 6a4 4 0 0 0-4 4a7 7 0 0 0-7 7c0-5 4-5 4-10.5a4.5 4.5 0 1 0-9 0a2.5 2.5 0 0 0 5 0C7 10 3 11 3 17c0 2.8 2.2 5 5 5h10"/></g></svg>This place is currently in construction... </p>
    <a href="/portal" class="sky-button">Access<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path fill="currentColor" d="M10 2h2v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v2h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-2v-5H2V7h8zm2 4v3H4v4h8v3h1v-1h1v-1h1v-1h1v-1h1v-2h-1V9h-1V8h-1V7h-1V6z"/></svg></a>
    <small style="align-self: flex-end;">Running v{{pkg.version}}</small>
</section>

{% slot 'style_slot' %}
<style>
    .two-grid {
        display: grid;
        grid-template-rows: 1.2fr 2fr;
        min-height: 100svh;
    }

    .brand-section {
        display: flex;
        background-image: url("/static/images/branding/cross-pattern.svg");
        background-size: cover;
    }

    .display--1 {
        align-self: flex-end;
        padding-inline: var(--sp-s);
        font-size: clamp(3vw, calc(1rem + 10vw), 5rem);
    }

    .introduction-section {
        display: flex;
        flex-direction: column;
        padding: var(--sp-xs)  var(--spr-m);
        color: var(--on-primary);
        background-color: var(--primary);
        border-top: var(--sp-xs) solid hsl(340, 81%, 55%);
    }
.subheading {
    color: var(--on-primary-variant);
}
</style>
{% endslot %}