---
title: Home
layout: base.njk
---

<section class="pod-content">
    <h2>Welcome</h2>
    <p>Hi, I go by the name ReduxFlakes on the internet (or Reducc for close friends). I'm a web dev, ameteur designer, and sometimes app developer.</p>
    <p>I'm a lover for old tech (web, computers, software), and also a FOSS & privacy advocate.</p>
</section>

<section class="pod-content">
    <img src="/static/gifs/construction.gif" alt="Under Construction">
    <h2>Todo list</h2>
    <ul>
        <li>Finish homepage</li>
        <li>Update pages to the new design</li>
        <li>Update directory</li>
        <li>Create a better projects page</li>
        <li>Start hosting smaller projects in the website</li>
        <li>Start making guides about stuff I like</li>
    </ul>
</section>