{% css "parts" %}
{% include "../styles/partials/sidebar.css" %}
{% endcss %}

<aside class="sidebar flow" style="--flow-space: 0.75em;">
    <h3>Updates</h3>

    <ul class="flow" style="--flow-space: 0.5em;">
        {% for item in changelog.log %}
            <li>
                <span class="datetime">{{item.date}}</span> - {{item.summary}}</li>
        {% endfor %}
    </ul>

    <h3>Friends</h3>

    <h3>Navigation</h3>
    <nav></nav>

</aside>