<footer>
  <iframe
      src="//incr.easrng.net/badge?key=reduxflakes"
      style="background: url(//incr.easrng.net/bg.gif)"
      title="increment badge"
      width="88"
      height="31"
    ></iframe>
  <p>
    <small>
      <a href="/privacy">Privacy Statement</a> - <a href="/humans.txt">humans.txt</a>
    </small>
  </p>
  <p>
    <small>
  &copy; 2021 - 2024 ReduxFlakes</small>
  </p>
</footer>