{% css "parts" %}
{% include "../styles/partials/header.css" %}
{% endcss %}

<header class="site-header flow">
    <a class="header__title" href="/">{{site.title}}</a>
    <nav class="site-navbar">
        {% for item in nav.headernav %}
            <a  class="nav__item" href="{{item.url}}">{{item.title}}</a>
        {% endfor %}
    </nav>
</header>