<nav class="flow">
    <h2 id="navigation">Navigation</h2>
    <ul class="navbar-list">
        {% for item in nav.headernav %}
            <li>
                <a class="nav__item" href="{{item.url}}">{{item.title}}</a>
            </li>
        {% endfor %}
    </ul>
</nav>